.container{
    background-color: rgb(251, 246, 251);
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    empty-cells: show;
}

.box{
    background-color: rgb(92, 173, 248);
    width: 100px;
    height: 100px;
    border: 1px  solid rgb(19, 8, 3);
    margin: 5px
}
.box2{
    background-color: rgb(92, 173, 248);
    width: 100px;
    height: 100px;
    border: 1px  solid rgb(19, 8, 3);
    margin: 5px 
}